
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
<head>
     <meta charset="utf-8">
     <title>
          {% if is_login %}Login
          {% elif is_home %}{{ site.author }}
          {% elif is_tag %}{{ tag }}
          {% elif post.type == 'post' %}{{ post.title }}
          {% elif post.type == 'link' %}{{ link.title }}
          {% elif post.type == 'page' %}{{ page.title }}
          {% endif %}
          | {{ site.name }}
     </title>

    {{ header_meta }}

     <link href="{{ static('themes/gridly/css/gridly.css') }}" rel="stylesheet" />
     <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
    
     {% if site.analytics %}
     <script>
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', '{{ site.analytics }}']);
     _gaq.push(['_trackPageview']);
     (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
     </script>
     {% endif %}
    
   
     <!-- body background --->
     <style>
          body
          {background-image:url('http://www.cochamo.com/i/bg_bottom.gif'); background-repeat:repeat-x; background-attachment:scroll; background-position:bottom left;
          }
     </style>

</head>
 
   
 
<body>

     <div style="margin-top:0em; background-color:#FFFFFF">
          {% if is_login %}
          {{ login_form }}
          {% else %}
     </div>   
   
    <div class="wrap" style="margin-bottom:0em; margin-left:2.1em; margin-right:3.8em;">       
       
        <!-- social icons -->
        <div class="social-icons">
            <ul>
                {% if site.twitter %}
                <li>
                  <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                    <i class="icon-twitter"></i>
                    <span class="hide-text">Twitter</span>
                  </a>
                </li>
                {% endif %}
                {% if site.facebook %}
                <li>
                  <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                    <i class="icon-facebook"></i>
                    <span class="hide-text">Facebook</span>
                  </a>
                </li>
                {% endif %}
                {% if site.googleplus %}
                <li>
                  <a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">
                    <i class="icon-google-plus"></i>
                    <span class="hide-text">Google Plus</span>
                  </a>
                </li>
                {% endif %}
                {% if site.linkedin %}
                <li>
                  <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                    <i class="icon-linkedin"></i>
                    <span class="hide-text">LinkedIn</span>
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                    <i class="icon-rss"></i>
                    <span class="hide-text">RSS</span>
                  </a>
                </li>
            </ul>
        </div> 
        <br />
        <br />
       
       
        <!-- post area -->
        {% if is_home or is_tag %}
        <div class="post-area">
           
            {% if is_tag %}
                <h2 class="tag-head">Showing all posts tagged {{ tag }}:</h2>
            {% endif %}
            <!-- posts -->
            {% if posts %}
                <section itemscope itemtype="http://schema.org/Blog" class="posts">
                    {% for post in posts %}
                        <article style="background-color:#fffff9" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">
                            {% if post.photos %}
                                {% for photo in post.photos %}
                                    {% if loop.index == 1 %}
                                        <div class="post-image">
                                            <a href="{{ post.permalink }}">
                                            {% if photo %}
                                                <img src="{{ photo.width_600 }}" alt="Picture {{ loop.index }}" />
                                            {% else %}
                                                <img src="http://placehold.it/400x300/0eafff/ffffff.png" alt="" />
                                            {% endif %}
                                            </a>
                                            {% if post.tags %}
                                                <div class="post-tags">
                                                    <p>{{- post.tags|format_tags(humanize=True) -}}</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
               
                            <!-- title of post --->
                            <div class="post-content">
                                <a href="{{ post.permalink }}" style="color:#99761B; font-size:18pt; font-family:Times New Roman; font-weight:500; font-style:normal; text-decoration: none;">{{ post.title }}</a>
                                <p class="post-date"><time datetime="{{ post.created_at }}">{{ post.created_at|date_format }}</time></p>
                                {% if post.tags and not post.photos %}
                                    <p class="post-tags">{{- post.tags|format_tags(humanize=True) -}}</p>
                                {% endif %}
                                {% if post.content|striptags|wordcount > 0 %}
                                    <p style="font-size:11pt; font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;">{{ post.content|striptags|truncate(200) }}</p>
                                    <p class="post-link"><a style="font-size:9pt; color:#99761B; text-decoration:none;" href="{{ post.permalink }}">View more &rarr;</a></p>
                                {% endif %}
                            </div>
                        </article>      
                    {% endfor %}
                </section>
            {% if not is_tag %}         
                <div class="pagination">
                    {% if pagination.prev %}<a style="font-size:10pt;color:#99761B; text-decoration:none;" href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
                    {% if pagination.next %}<a style="font-size:10pt;color:#99761B; text-decoration:none;" href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
                </div>
            {% endif %}
           
            <!-- If no posts. -->
            {% else %}
                <h2 class="title"><em>No posts yet :(</em></h2>
            {% endif %}      
           
           
            <!-- post alone -->
            {% elif post.type == 'post' %}     
                <article style="background-color:#fffff9" itemscope itemtype="http://schema.org/BlogPosting" class="post">
                    <section class="content">
                        <div class="post-content" data-type-cleanup="true">
                            <!-- title -->
                            <header style="color:black; font-size:22pt; font-family:Times New Roman; font-weight:500; font-style:normal; text-decoration:none;">
                                {{ post.title }}
                            </header>
                            <p class="post-date"><!--Published by {{ site.author }}, --><time datetime="{{ post.created_at }}">{{ post.created_at|date_format }}</time></p>
                            <!-- body -->
                            <p style="font-size:12pt; font-family:Verdana, Arial, Helvetica, sans-serif">{{ post.content}}</p>
                        </div>
                        <div class="post-footer">
                            {{ theme.social.bar }}
                            {% if post.tags %}
                                <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>
                            {% endif %}
                        </div>
                    </section>
                   
                    <!-- disqus -->
                    {% if site.disqus %}
                        <hr class="large" />
                        <section class="comments">
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = '{{ site.disqus }}';
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>
                                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                            </noscript>
                            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                        </section>
                    {% endif %}
                </article>      
         
                <!--
                <div class="post-nav">
                    <div class="post-prev"></div>
                    <div class="post-next"></div>
                </div>
                -->
   
            {% elif post.type == 'link' %}
   
                <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
                    <section class="content">
                        <div class="post-content" data-type-cleanup="true">
                            <header>
                            <h1>xxx{{ link.title }}</h1>
                            </header>
                            <p class="post-date">Published by {{ site.author }}, <time datetime="{{ link.created_at }}">{{ link.created_at|date_format }}</time></p>
                            {{ link.content }}
                            </div>
                            <div class="post-footer">
                            {{ theme.social.bar }}
                            {% if post.tags %}
                            <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>
                            {% endif %}
                        </div>
                    </section>
                       
                    <!--- disqus --->
                    {% if site.disqus %}
                        <hr class="large" />
                        <section class="comments">
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = '{{ site.disqus }}';
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>
                                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                            </noscript>
                            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                        </section>
                    {% endif %}
                </article>
                <!--
                    <div class="post-nav">
                        <div class="post-prev"></div>
                        <div class="post-next"></div>
                    </div>
                -->
            {% elif post.type == 'page' %}         
                <div class="page">
                    <div class="post-content" data-type-cleanup="true">
                        <h1>{{ page.title }}</h1>
                        {{ page.content }}
                    </div>
                </div>         
            {% endif %}
       
         
            <!-- header: at bottom -->
            <div style="margin-top:0em">
                 <br />
                 <a href="http://www.cochamo.com/news/"><img style="height:5em; width:5em;" src="http://www.cochamo.com/favicon.gif" alt="{{ site.author }}"  /></a>
            </div>
            <div style="margin-top:0em;">
                <a style="font-size:9pt; color:#99761B;" href="http://www.cochamo.com/news/">cochamo.com</a>
            </div>
           
           
            <!-- footer -->
            <footer class="footer" style="margin-bottom:0em; ">
                <div class="copyright">
                <p class="pull-left">All rights Reserved &copy; <a style="font-size:8pt; color:#99761B;" href="http://www.cochamo.com/news/">cochamo.com</a>.</p>
                <p class="pull-right">Powered by <a href="http://postach.io" target="_blank">Postach.io</a> </p>
                </div>
            </footer>           
           
        </div>
       
   
        {% endif %} <!-- This if goes with login if at top. -->
   
        {{ footer_meta }}
        <script src="{{ static('themes/gridly/js/main.min.js') }}"></script>
       
    </div>
   
</body>
</html>
